{% extends "blabla.html" %}

{% block x %}
    <h1>Новость:</h1>

    <h2>{{ object_detail }} наша</h2></br>
    <h2>{{ object_detail.title }}</h2></br>
    <h3>{{ object_detail.text}}</h3></br>
    <h4>{{ object_detail.pub_date }}</h4></br>
    <h5>{{ object_detail.user }}</h5></br>
    <h6>{{ object_detail }}</h6></br>



    <p>{% url 'detailview' pk=object.pk %}</p></br>  <!--передаем именованый url и pk, но зачем конструкция pk=object.pk не понятно, по pk не выводит -->

    <a style="color: darkviolet; font-family: 'Comic Sans MS'; font-weight: 700; " href="{% url "listviewnew" %}">К списку новостей</a></br>

    <a style="color: darkviolet; font-family: 'Comic Sans MS'; font-weight: 700; " href="{% url "redirect" %}">Google.com.ua</a></br>

{% endblock %}